/*------------- Gallery ------------*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  flex-basis: calc(33.333% - 10px);
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.sl-overlay {
  background: rgba(46, 47, 66, 0.8) !important;
}

.sl-close {
  color: #fff !important;
  font-size: 36px !important;
  border: none;
}

.sl-close:hover {
  transform: scale(1.1);
}

.sl-next,
.sl-prev {
  color: #fff !important;
}

.sl-counter {
  color: #fff !important;
}



/*------------- Form ------------*/
.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-email {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 20px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-message {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 60px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.form-button:hover,
.form-button:focus {
  background: #6c8cff;
}